name: Run ansible-playbook on macOS

on:
  push:
    branches:
      - 'main'
      - fix-gh-workflow
  schedule:
    - cron: '0 18 * * *' # Every 6 pm UTC / 10 am PT

jobs:
  integration:
    name: Integration Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-10.15

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v2

      - name: Uninstall GitHub Actions' built-in browsers
        run: |
          sudo rm -rf /Applications/Firefox.app
          sudo rm -rf /Applications/Google\ Chrome.app

      - name: Install ansible
        run: brew install ansible

      - name: Cache .ansible dir
        uses: actions/cache@v2
        with:
          path: ~/.ansible
          key: ${{ runner.os }}-${{ hashFiles('**/requirements.galaxy.yml') }}

      - name: Install ansible-galaxy
        run: |
          ansible-galaxy collection install -r requirements.galaxy.yml

      - name: Check the playbook's syntax
        run: ansible-playbook -i hosts -vv localhost.yml --syntax-check

      - name: Execute the playbook
        run: ansible-playbook -i hosts -vv localhost.yml
        env:
          ANSIBLE_FORCE_COLOR: '1'

      - name: Check if the playbook is satisfied with Idempotence
        run: |
          idempotence=$(mktemp)
          ansible-playbook -i hosts -vv localhost.yml | tee -a ${idempotence}
          tail ${idempotence} | grep -q 'changed=0.*failed=0' && (echo 'Idempotence test: pass' && exit 0) || (echo 'Idempotence test: fail' && exit 1)
        env:
          ANSIBLE_FORCE_COLOR: '1'
